body {
  font-family: "Lato", sans-serif;

}

h2 {
  font-weight: 500;
}

h3 {
  opacity: 0.7;
  text-decoration: underline;
  text-align: center;
}

input {
  border-radius: 5px;
  border: solid;
  height: 30px;
}

.centering {
  text-align: center;
  margin: 0 auto;
}

.container-current,
.container-forecast,
.container-footer {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(131, 123, 123, 0.2);
  border: solid;
}

.container-current {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.container-forecast {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.container-footer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.day {
  text-align: center;
}

.forecast-max {
  font-weight: 700;
  opacity: 0.9;
}

.forecast-min {
  font-weight: 700;
  opacity: 0.5;
}

#city-search {
  margin-bottom: 15px;
}

#city-submit {
  height: 37px;
}
#current-weather {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#current-temp {
  font-size: 35px;
}

#current-temp-units {
  font-size: 18px;
  position: relative;
  top: -6px;
  left: 0px;
}

#current-description {
  position: relative;
  top: -10px;
  font-style: italic;
}

#weather-forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 600px;
}
