.container {
  max-width: 600px;
  margin: 0 auto;
}

.centering {
  text-align: center;
  margin: 0 auto;
}

#current-weather {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#current-temp {
  font-size: 35px;
  post
}

#current-temp-units {
  font-size: 18px;
  position: relative;
  top: -11px;
  left: -3px;
}
